<div [@routerTransition]>

    <h1>Últimas entradas por formulario</h1>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre del formulario</th>
                    <th>Fecha de creación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entrada of entradas" >
                    <td>{{entrada.formulario}}</td>
                    <td>{{entrada.fechaDeCreacion | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>