<div [@routerTransition]>
  <app-page-header [heading]="'Categoria'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
    <div class="col-lg-6">
      <form role="form" [formGroup]="categoriaForm">
        <fieldset class="form-group">
          <label>Agregar Nueva categoría</label>
          <input class="form-control" type="text" formControlName="nombre" placeholder="Nombre de categoría">
          <p>{{message}}</p>
          <button class="btn btn-secondary" (click)="createCategoria()">Crear categoría</button>
        </fieldset>
      </form>
      <h3>Lista de Categorias:</h3>
      <div class="card-body table-responsive">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Activar/Desactivar</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of categorias">
                  <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                          <h4 class="modal-title">Editar categoría</h4>
                          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>{{categoria.nombre}}&hellip;</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                      </div>
                  </ng-template>
                  <td>{{categoria.nombre}}</td>
                  <td>
                    {{
                      (categoria.active) ? ("Activo") : ("No activo")
                    }}
                  </td>
                  <td><button class="btn btn-secondary" (click)="open(content)">Editar</button></td>
                  <td><button class="btn btn-secondary" (click)="activateCategoria(categoria.id,categoria.active)">Activar/Desactivar</button></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
