<div [@routerTransition]>
  <app-page-header [heading]="'Entrada'" [icon]="'fa-edit'"></app-page-header>
  <form class="form-inline">
    <label class="my-1 mr-2">Seleccione el formato</label>
    <select class="form-control my-1 mr-sm-2" [(ngModel)]="opcionSelect" [ngModelOptions]="{standalone:true}">
      <option [ngValue]="formulario" *ngFor="let formulario of nombreFormularios" >
        {{formulario}}
      </option>
    </select>
    <button class="btn btn-secondary my-1" (click)="cargarEntradaSegunFormulario(opcionSelect)">Buscar</button>
  </form>

  <h4>Lista de entradas:</h4>
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th ng-show="camposEntrada.leght!==0">
              <button (click)="ordenarPorConsecutivo()">Consecutivo</button>
          </th>
          <th *ngFor="let campo of camposEntrada">
            <button (click)="ordenarPorColumna(campo)">{{campo}}</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entrada of entradas">
          <td>{{entrada.consecutivo}}</td>
          <td *ngFor="let d of entrada.data">
            {{d.value}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
