<div [@routerTransition]>
    <app-page-header [heading]="'Form Builder'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">

            <form role="form">
                <fieldset class="form-group">
                    <label>Text Input</label>
                    <input class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </fieldset>
            </form>
        </div>
    </div>
</div>